body{
  background-color: DarkSlateGray;
  margin: 15% 20%;
}

.header{
  background-color: HoneyDew;
  font-family: serif, arial, sans-serif;
  margin: 20px;
  padding: 1px;
  font-size: 90%;
  text-align:center;
}

.picture{
  margin: 10px;
  border: 2px solid black
}

img{
  width: 100%;
  height: 70%;
}

.body1{
  background-color: HoneyDew;
  margin: 20px;
  padding: 5px;
  border: 2px solid black;
  font-family: serif, arial, sans-serif;
}

.picture2{
  margin: 10px;
  border: 2px solid black
}

.body2{
  background-color: HoneyDew;
  margin: 20px;
  padding: 5px;
  border: 2px solid black;
  font-family: serif, arial, sans-serif;
}

.skills{
  background-color: HoneyDew;
  margin: 20px;
  padding: 5px;
  border: 2px solid black;
}

.center{ 
  margin-left: auto;
  margin-right: auto;
}

h3{
  text-align: center;
}

li, p, td{
  font-size: 80%;
}
